<%- include("../includes/head", { bot, user, path, title: "Terms of service" }) %>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/tos.css" />
<div class="tos">
<h1 class="center">Terms and Conditions of <b><%= bot.user.username.capitalize() %></b></h1>
<p class="center">The following applies to usage of the <%= bot.user.username.capitalize() %> (including other versions) Discord bot: (referred to as "<%= bot.user.username.capitalize() %>")</p>
<h2 class="small_header"><b>Introduction</b></h2>
<p>By adding <%= bot.user.username.capitalize() %>, Majo.exe v2 or Maja.exe to your server, you agree that you have read, understood and accept the Terms. You are also responsible for informing the members in your server about the Terms.
If you do not agree with any of these terms, you are prohibited from using or adding any version of <%= bot.user.username.capitalize() %> to your server.</p>
<hr>
<h2 class="small_header"><b>Disclaimer</b></h2>
<p>You are strictly prohibited to use <%= bot.user.username.capitalize() %> against the ToS of Discord or for illegal purposes. We are doing our best to prevent these activities, while trying to provide the best user experience as possible. If you find people or communities using <%= bot.user.username.capitalize() %> against the ToS of Discord or even for illegal activities, please send us an email to <code>majonezexe (at) protonmail (dot) com</code> or send us message at our <a href="/contact">contact page</a>.</p>
<hr>
<h2 class="small_header"><b>Proprietary Rights</b></h2>
<p>We (more specifically <%= bot.user.username.capitalize() %> Team) own and retain all rights for public available data. We grant you the permission to use this available data for your own needs, but strictly disallow any commercial use. You therefore shall not sell, license or otherwise commercialize the data except if the permission was expressly granted to you.</p>
<hr>
<h2 class="small_header"><b>Availability</b></h2>
<p>
<ul>
 <li><%= bot.user.username.capitalize() %> is provided as-is. There are no guarantees that it will be available in the future, and its purpose or availability may be changed at any time.</li>
 <li>User data including settings, backups etc. may be deleted at any time.</li>
 <li>User data is non-transferable, including but not limited to settings or backups.</li>
 <li>Access to all or specific features of <%= bot.user.username.capitalize() %> may be revoked, for all or a specific user, at any time.</li>
</ul>
</p>
<hr>
<h2 class="small_header"><b>User Data</b></h2>
<p>To operate <%= bot.user.username.capitalize() %> we save some information of you, your server and the members. The bot does not save anything if you or your server administrators don't enable it.</p>
<ul>
 <li>Usernames, nicknames, avatars, banners, ID's and discriminators.</li>
 <li>Channel names, topics, permission overrides and message history (up to 1000 messages per channel).</li>
 <li>Server name, splash, banner, icon, settings, emojis, banned members.</li>
 <li>Role names, permissions, colors and assignments.</li>
</ul>
</div>
