<nav class="nav" role="navigation">
<span class="logo"><a href="/" rel="noopener" aria-label="Open home page"><span class="name"><%- name %></span><span class="tag"><%- tag %></span></a></span>
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<% if (user) { %>
<li><a href="/authorize/logout">Logout</a></li>
<% if (server) { %>
<li><a href="/server" target="_blank" rel="noopener">Discord server</a></li>
<% } %>
<% if (authorwebsite) { %>
<li><a href="<%= authorwebsite %>" target="_blank" rel="noopener">Author</a></li>
<% } %>
<% if (github) { %>
<li><a href="<%= github %>" target="_blank" rel="noopener">Github</a></li>
<% } %>
<% } else { %>
<li><a href="/authorize">Authorize</a></li>
<% if (server) { %>
<li><a href="/server" target="_blank" rel="noopener">Discord server</a></li>
<% } %>
<% if (authorwebsite) { %>
<li><a href="<%= authorwebsite %>" target="_blank" rel="noopener">Author</a></li>
<% } %>
<% if (github) { %>
<li><a href="<%= github %>" target="_blank" rel="noopener">Github</a></li>
<% } %>
<% } %>
</ul>
</nav>