<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "logs" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">
<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr style="width: 25%;">
<h2>Logging [Soon!]</h2>
<p>Configure the events after which the message should be sent on the channel</p>
<div class="servers disabled">
<% all_events.forEach(event => { %>
 <div class="server">
 <div class="icon-and-name">
 <p class="guild-name"><%= event.capitalize() %></p>
 </div>
  <input type="switch"/>
 </div>
<% }) %>
  <div style="display: flex; flex-direction: row-reverse;">
  <button type="submit" style="margin-left: 0;font-size: 14px;width: 160px;" class="link-button blue">Save changes</button>
  </div>
</div>
<%- include("../includes/footer") %>
