<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "messages" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">
<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr style="width: 25%;">
<h2>Join or Leave messages</h2>
<p>These messages will be sent when someone joins or leaves the server</p>
  <style>
    .mention {
      background-color: rgba(88, 101, 242, 0.3);
border-radius: 3px;
padding: 2px;
      color: #b9bcdd;
      transition: 200ms;
      line-height: 1.375rem;
font-weight: 800;
      display: inline;
      cursor: pointer;
    }
    .mention:hover {
      background-color: rgba(88, 101, 242, 1);
      color: #fff;
    }
    .mention .emoji {
     width: 18px;
      vertical-align: text-bottom;
    }
    select {
     background: var(--navbar);
     border: 0px;
     padding: 5px;
     color: #fff;
     border-radius: 3px;
     border: 1px solid rgb(88, 101, 242);
    }
  </style>
  <% if (alert) { %>
<div class="banner" style="width: 80%;">
 <div class="banner-content">
  <div class="banner-text">
   <%= alert %>
  </div>
  <button class="banner-close" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
  </button>
  </div>
 </div>
 <script>
const close_banner = document.querySelector(".banner-close")
const banner = document.querySelector (".banner")
close_banner.addEventListener("click", function () {
  banner.style.display = "none";
});
</script>
<% }  %>
<div class="servers" style="background-color: var(--navbar); box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);">
<form role="form" action="/dashboard/<%= guild.id %>/messages" method="POST">
<h2 style="margin-bottom: 10px;">Join message</h2>
  <% if(welcome) { %>
  <p style="margin-top: 0">The current channel on which join messages are sent is: <span class="mention">#<%= welcome.name %></span></p>
    <% } else { %>
        <p style="margin-top: 0">A welcome channel has not yet been configured!</p>
      <% } %>
  <div class="server">
 <div class="icon-and-name">
 <p class="guild-name"><%- include('../includes/icons/add.ejs') %> Send Message when someone join server</p>
 </div>
  <input id="welcome_enabled" name="welcome_enabled" type="switch" <%= welcome != null ? "checked" : "" %>/>
 </div>
  <div class="server <%= welcome == null ? "disabled" : "" %>" id="welcome_channel_select">
 <div class="icon-and-name">
 <p class="guild-name"><%- include('../includes/icons/tag_center.ejs') %> Channel on which the message should be sent</p>
 </div>
       <select class="select" autocomplete="off" id="select_welcome" name="welcomechannel">
          <option value ='select_disabled'disabled selected>Select Channel</option>
       <option value ='null' selected>Disable welcome</option>
         <% guild.channels.cache.forEach(channel => { %>
           <% if(channel.type == "GUILD_TEXT") { %>
        <% if( welcome && channel.id == welcome.id) { %>
        <option value="<%= channel.id %>" selected><%= channel.name %></option>
          <% } else { %>
                   <option value="<%= channel.id %>"><%= channel.name %></option> 
            <% } %>
                 <% } %>
      <% }) %>     
      </select>
 </div>


        
<h2 style="margin-bottom: 10px;">Leave message</h2>
  <% if(leave) { %>
  <p style="margin-top: 0">The current channel on which leave messages are sent is: <span class="mention">#<%= leave.name %></span></p>
    <% } else { %>
        <p style="margin-top: 0">A leave channel has not yet been configured!</p>
      <% } %>
   <div class="server">
 <div class="icon-and-name">
 <p class="guild-name"><%- include('../includes/icons/remove') %> Send Message when someone leave server</p>
 </div>
  <input type="switch" name="leave_enabled" id="leave_enabled" <%= leave != null ? "checked" : "" %>/>
 </div>
          <div class="server <%= leave == null ? "disabled" : "" %>" id="leave_channel_select">
 <div class="icon-and-name">
 <p class="guild-name"><%- include('../includes/icons/tag_center.ejs') %> Channel on which the message should be sent</p>
 </div>
       <select class="select" autocomplete="off" id="select_leave" name="leavechannel">
      <option value ='select_disabled'disabled selected>Select Channel</option>
      <option value ='null' selected>Disable leave</option>
         <% guild.channels.cache.forEach(channel => { %>
           <% if(channel.type == "GUILD_TEXT") { %>
        <% if(leave &&  channel.id == leave.id) { %>
        <option value="<%= channel.id %>" selected><%= channel.name %></option>
          <% } else { %>
                   <option value="<%= channel.id %>"><%= channel.name %></option> 
            <% } %>
                 <% } %>
      <% }) %>     
      </select>
 </div>
 <script type="text/javascript">
 const checkbox_welcome = document.getElementById('welcome_enabled')
 const switch_welcome = document.getElementById('welcome_channel_select')
   const select_welcome = document.getElementById('select_welcome');
 checkbox_welcome.addEventListener('change', (event) => {
  if (event.currentTarget.checked) {
    welcome_channel_select.classList.remove("disabled")
  } else {
    welcome_channel_select.classList.add("disabled")
    select_welcome.value = "null";
  }
})

      const checkbox_leave = document.getElementById('leave_enabled')
      const switch_leave = document.getElementById('leave_channel_select')
      const select_leave = document.getElementById('select_leave');
checkbox_leave.addEventListener('change', (event) => {
  if (event.currentTarget.checked) {
    leave_channel_select.classList.remove("disabled")
  } else {
    leave_channel_select.classList.add("disabled");
    select_leave.value = "null"
  }
})
    </script>
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div style="display: flex; flex-direction: row-reverse;">
  <button type="submit" style="margin-left: 0;font-size: 14px;width: 160px;" class="link-button blue">Save changes</button>
  </form>
  </div>
</div>

<%#
<div class="servers" style="padding: 20px; background-color: var(--navbar); box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);">
      <h2 style="padding: 0; text-align: center">Examples</h2>
     <h3 style="text-align: center">Join message</h3>

  </div>%>
<%- include("../includes/footer") %>
