<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "roles" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">
<% function checkdays(date) {
 let now = new Date();
 let diff = now.getTime() - date.getTime();
 let days = Math.floor(diff / 86400000);
 return days + (days == 1 ? " day" : " days") + " ago";
} %>
<div class="guild">
<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr>
<h2>Roles</h2>

<% function pick_color(color) {
var c = color.substring(1);
var rgb = parseInt(c, 16);
var r = (rgb >> 16) & 0xff;
var g = (rgb >>  8) & 0xff;
var b = (rgb >>  0) & 0xff;

var luma = 0.2126 * r + 0.7152 * g + 0.0722 * b;

if (luma < 50) {
 return "#ccc";
} else {
 return color.toString();
}
} %>


<% guild.roles.cache.forEach(role => { %>
<div class="r" style="color: <%= pick_color(role.hexColor) %>" title="<%= role.id %>"><%= role.name %></div>
<% }) %>


</div>
<%- include("../includes/footer") %>
