<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "roles" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">
<div class="guild">
<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr>
<h2>Roles (<%= guild.roles.cache.size %>)</h2>

<% function pick_color(color) {
var c = color.substring(1);
var rgb = parseInt(c, 16);
var r = (rgb >> 16) & 0xff;
var g = (rgb >>  8) & 0xff;
var b = (rgb >>  0) & 0xff;

var luma = 0.2126 * r + 0.7152 * g + 0.0722 * b;

if (luma < 50) {
 return "#ccc";
} else {
 return color.toString();
}
} %>


<% guild.roles.cache.forEach(role => { %>
<div class="r"  data-clipboard="<%= role.id %>" style="color: <%= pick_color(role.hexColor) %>" title="Click to copy ID: <%= role.id %>"><%= role.name %></div>
<% }) %>
<div id="copy" class="copy-message">ID coppied! ✅</div>
<script>

document.querySelectorAll('.r').forEach(item => {
  item.addEventListener('click', event => {
let text = item.getAttribute("data-clipboard");
if(text) navigator.clipboard.writeText(text);
let copymessage = document.getElementById("copy");
copymessage.classList.add("show");
setTimeout(function(){ copymessage.className = copymessage.className.replace("show", ""); 
}, 1500);

  })
})


function copied() {
var text = "Example text to appear on clipboard";
navigator.clipboard.writeText(text)
var copymessage = document.getElementById("copy");
copymessage.classList.add("show");
setTimeout(function(){ copymessage.className = copymessage.className.replace("show", ""); 
}, 1500);
}
</script>
</div>
<%- include("../includes/footer") %>
