</div>
<footer class="footer">
<% if (config.author) { %>
<span class="left">Created by: <a style="color: #fff" href="https://discord.com/users/<%= config.owner_id %>" target="_blank" rel="noopener"><%= config.author %></a></span>
<% } %>
<% if (config.status) { %>
 <% if (path !== "/status") { %>
  <a href="/status">Status</a>
  <span> | </span>
<% } %>
<% } %>
<% if (config.author_website) { %>
<a href="/author" target="_blank" rel="noopener">Author</a>
<% } %>
<span> | </span>
<a href="/contact" target="_blank" rel="noopener">Contact Us</a>
<span> | </span>
<% if (config.github) { %>
<a href="/github" target="_blank" rel="noopener">Github</a>
<% } %>
</footer>
<script  defer async src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
<script defer async src="<%= secure_connection %><%= domain %><%= port %>/js/index.js"></script>
</body>
</html>
