<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title><% if(title) { %><%- bot.user.username.capitalize() + ' | ' + title %><% } else { %><%- bot.user.username.capitalize() + ' - The best Discord bot' %><% } %></title>

<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/style.css" media="all">
<%- include('./favicons.ejs') %>
<% if (web_config.dashboard.google_analitics) { %>
<%- include('./analytics.ejs') %>
<% } %>
<%- include("./seo", { bot, user, path, description, title, twitter, url }) %>
<% if(web_config.dashboard.arc_token) { %>
<script async src="https://arc.io/widget.min.js#<%= web_config.dashboard.arc_token %>"></script>
<% } %>
</head>
<body>
<script type="text/javascript">var preload = document.createElement('div'); preload.className = "preloader"; preload.innerHTML = '</div><div class="spinner"></div>'; document.body.appendChild(preload); window.addEventListener('load', function() { preload.className +=  ' fade'; setTimeout(function(){ preload.style.display = 'none'; },500); })</script>
<noscript><div class="no-js">To view the page please enable javascript in your browser.</div></noscript>
<%- include("./nav", { bot, user, path, url, name, tag }) %>
<div class="blur" id="body-blur"></div>
<%- title === "Dashboard" ? "" : "" %>
