<nav class="nav" role="navigation">
<div style="inset: 0px; z-index: -1; position: absolute; backdrop-filter: blur(5px); opacity: 1;"></div>
<% if (bot.user.avatar) { botavatar = `https://cdn.discordapp.com/avatars/${bot.user.id}/${bot.user.avatar}.webp?size=256`; } else { botavatar = `${secure_connection + domain}/pics/invaild-avatar.png`; } %>
<a class="avatar-container-bot logo" href="<%= secure_connection %><%= domain %><%= port %>" rel="noopener" aria-label="Open home page"><img class="user-avatar" src="<%= botavatar %>" style="margin-right: 10px;"/><span class="name"><%= bot.user.username.capitalize() %><span class="tag">#<%- bot.user.discriminator %></span></span></a>

<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<% if (user) { %>
<% if (config.support_server) { %>
<li><a href="<%= secure_connection %><%= domain %><%= port %>/server" target="_blank" rel="noopener">Discord</a></li>
<% } %>
<% if (user.avatar) {
 avatar = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}`;
} else {
 avatar = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<a class="avatar-container dropdownHead" id="dropdownHead" onclick="dropdown(this)"><img class="user-avatar" src="<%= avatar %>"/><span class="user-name"><%= user.username %><span class="tag">#<%- user.discriminator %></span></span></a>
<% } else { %>
<% if (config.support_server) { %>
 <li><a href="<%= secure_connection %><%= domain %><%= port %>/server" target="_blank" rel="noopener">Discord</a></li>
<% } %>
 <li>
  <a href="<%= secure_connection %><%= domain %><%= port %>/login" class="button_empty" style="margin: 13px;">Login</a>
<% } %>

</ul>

<% if(user) { %>
<ul class="dropdown" id="dropdown">
<div style="inset: 0px; z-index: -1; position: absolute; backdrop-filter: blur(5px); opacity: 1;"></div>
<div class="cross-container"><div class="cross"></div></div>
<% if (path === "/dashboard") { %>
 <span><a class="dropdown-li" href="<%= secure_connection %><%= domain %><%= port %>/"><%- include('./icons/home.ejs') %> Home</a></span>
<% } else if (path !== "/") { %>
 <span><a class="dropdown-li" href="<%= secure_connection %><%= domain %><%= port %>/"><%- include('./icons/home.ejs') %> Home</a></span>
 <span><a class="dropdown-li" href="<%= secure_connection %><%= domain %><%= port %>/dashboard"><%- include('./icons/dashboard-nav.ejs') %> Dashboard</a></span>
<% } else { %>
 <span><a class="dropdown-li" href="<%= secure_connection %><%= domain %><%= port %>/dashboard"><%- include('./icons/dashboard-nav.ejs') %> Dashboard</a></span>
<% } %>
 <span><a class="dropdown-li" href="<%= secure_connection %><%= domain %><%= port %>/profile"><%- include('./icons/profile.ejs') %> Profile</a></span>
<span><a class="dropdown-li disabled" disabled="true" title="Soon!"><%- include('./icons/language.ejs') %> Language</a></span>
<span><a class="dropdown-li logout" href="<%= secure_connection %><%= domain %><%= port %>/logout" class="logout"><%- include('./icons/logout.ejs') %> Logout</a></span>
</ul>
  <% } %>
</nav>
