<div class="open-sidenav"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></div>
<div class="sidenav">
<img class="server-avatar img " src="<%= guild_icon %>" alt="<%= guild_name %>"/>
<h3 class="sidenav-header"><%= guild_name %></h3>
<a href="/dashboard/<%= guild.id %>" class="guildname <% if(checked_nav == "home") { %>checked<% } %>"><%- include('./icons/home-sidenav.ejs') %> Home</a>
<a href="/dashboard/<%= guild.id %>/roles" class="guildname <% if(checked_nav == "roles") { %>checked<% } %>"><%- include('./icons/role-sidenav.ejs') %> Roles</a>
<a href="/dashboard/<%= guild.id %>/embeds" class="guildname <% if(checked_nav == "embeds") { %>checked<% } %>"><%- include('./icons/embeds-sidenav.ejs') %> Embeds</a>
<a href="/dashboard/<%= guild.id %>/logging" class="guildname <% if(checked_nav == "logs") { %>checked<% } %>"><%- include('./icons/logs-sidenav.ejs') %>Logging</a>
</div>
<script>
   document.addEventListener("click", function (event) {
 if (event.target.tagName !== "A" || !event.target.href || !event.target.classList == "guildname") return;
 const currentElement = document.getElementsByClassName("checked")[0];
 const content = document.getElementsByClassName("content")[0];
  currentElement.classList.remove("checked");
  event.target.classList.add("checked");
 });


</script>
<style>

.open-sidenav {
width: 50px;
height: 50px;
position: fixed;
transition: 300ms all;
z-index: 9997;
right: 0;
bottom: 0;
background-color: #5865f2;
border-radius: 50%;
align-content: center;
align-items: center;
cursor: pointer;
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
display: none;
margin: 10px;
}

.open-sidenav:hover {
background-color: rgb(71, 83, 197);;
}

.open-sidenav svg {
margin: 0 auto;
}

.sidenav {
display: flex;
flex-direction: column;
height: 100%;
width: 270px;
position: fixed !important;
overflow-y: auto;
transition: all .3s ease-in-out;
z-index: 9997;
background-color: var(--navbar);
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
padding: 15px;
}

@media screen and (max-width: 950px) {
.sidenav {
transform: translateX(-270px)
}
.content, .left {
margin-left: 0 !important;
}
.open-sidenav {
display: flex;
}
}

.content {
max-width: unset;
margin: 0 auto;
margin-left: 270px;
margin-top: 60px;
transition: 300ms all;
}

.left {
margin-left: 270px;
}

.guildname {
text-align: "left";
font-family: "Poppins";
font-size: 18px;
color: #b9bbbe;
border-radius: 3px;
padding: 8px;
margin-bottom: 8px;
cursor: pointer;
text-decoration: none;
transition: 300ms;
display: flex;
align-items: center;
justify-content: flex-start;
}

.guildname:hover {
background-color: #34383e;
text-decoration: none;
}

.guildname.checked {
background-color: #5865f2;
color: #fff;
}

.sidenav-header {
font-family: "Poppins";
text-align: center;
margin-bottom: 8px;
}

.side-nav-icon {
margin-right: 10px;
}

.server-avatar {
margin: 0 auto;
height: 80px;
width: 80px;
margin-top: 30px;
}

</style>