<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/sidenav.css" />
<div class="open-sidenav"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></div>
<div class="sidenav">
<div style="inset: 0px; z-index: -1; position: absolute; backdrop-filter: blur(5px); opacity: 1;"></div>
<img class="server-avatar img " src="<%= guild_icon %>" alt="<%= guild_name %>"/>
<h3 class="sidenav-header"><%= guild_name %></h3>
<hr class="hr-edited">
<a href="/dashboard/<%= guild.id %>" class="guildname <% if(checked_nav == "home") { %>checked<% } %>"><%- include('./icons/home-sidenav.ejs') %> Home</a>
<a href="/dashboard/<%= guild.id %>/messages" class="guildname <% if(checked_nav == "messages") { %>checked<% } %>"><%- include('./icons/message-sidenav.ejs') %> Messages</a>
<a href="/dashboard/<%= guild.id %>/logging" class="guildname <% if(checked_nav == "logs") { %>checked<% } %>"><%- include('./icons/logs-sidenav.ejs') %>Logging</a>
<a href="/dashboard/<%= guild.id %>/embeds" class="guildname <% if(checked_nav == "embeds") { %>checked<% } %>"><%- include('./icons/embeds-sidenav.ejs') %> Embeds</a>
<a href="/dashboard/<%= guild.id %>/roles" class="guildname <% if(checked_nav == "roles") { %>checked<% } %>"><%- include('./icons/role-sidenav.ejs') %> Roles</a>
<div class="position-bottom">
<a href="/status" class="bottom-item" style="float: right"><%- include('./icons/signal.ejs') %> Status</a>
<% if (config.github && package.version) { %>
<a href="/github" class="bottom-item" style="opacity: 0.6;">Version: v<%= package.version %></a>
<% } %>
</div>
</div>
<script>
   document.addEventListener("click", function (event) {
 if (event.target.tagName !== "A" || !event.target.href || !event.target.classList == "guildname") return;
 const currentElement = document.getElementsByClassName("checked")[0];
 const content = document.getElementsByClassName("content")[0];
  currentElement.classList.remove("checked");
  event.target.classList.add("checked");
 });
</script>