<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "roles" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">

<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr style="width: 20%;">
<div class="roles-container">
<span>Roles - <%= guild.roles.cache.size %></span>
<span style="margin-right: 10px;">Members</span>
</div>

<% function pick_color(color) {
var c = color.substring(1);
var rgb = parseInt(c, 16);
var r = (rgb >> 16) & 0xff;
var g = (rgb >>  8) & 0xff;
var b = (rgb >>  0) & 0xff;

var luma = 0.2126 * r + 0.7152 * g + 0.0722 * b;

if (luma < 50) {
 return "#ccc";
} else {
 return color.toString();
}
} %>


<% guild.roles.cache.forEach(role => { %>
<a href="<%= secure_connection %><%= domain %><%= port %>/dashboard/<%= guild.id %>/roles/<%= role.id %>" class="r" data-clipboard="<%= role.id %>" style="color: <%= pick_color(role.hexColor) %>" title="Click to view info about this role"><svg width="20" height="23" viewBox="0 0 20 23"><g fill="none" fill-rule="evenodd"><path fill="<%= pick_color(role.hexColor) %>" d="M19.487 5.126L10.487 0.126C10.184 -0.042 9.81798 -0.042 9.51498 0.126L0.514977 5.126C0.197977 5.302 0.000976562 5.636 0.000976562 5.999C0.000976562 6.693 0.114977 22.999 10.001 22.999C19.887 22.999 20.001 6.693 20.001 5.999C20.001 5.636 19.804 5.302 19.487 5.126ZM10.001 5.999C11.382 5.999 12.501 7.118 12.501 8.499C12.501 9.88 11.382 10.999 10.001 10.999C8.61998 10.999 7.50098 9.88 7.50098 8.499C7.50098 7.118 8.61998 5.999 10.001 5.999ZM6.25098 16C6.25098 13.699 7.69998 12.25 10.001 12.25C12.302 12.25 13.751 13.699 13.751 16H6.25098Z"></path></g></svg><%= role.name.replaceAll("⠀", "") %><span class="r-members"><svg aria-hidden="false" width="20" height="20" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.002 8.00598C16.002 10.211 14.208 12.006 12.002 12.006C9.79695 12.006 8.00195 10.211 8.00195 8.00598C8.00195 5.80098 9.79595 4.00598 12.002 4.00598C14.208 4.00598 16.002 5.80098 16.002 8.00598ZM4.00195 19.006C4.00195 15.473 7.29195 13.006 12.002 13.006C16.713 13.006 20.002 15.473 20.002 19.006V20.006H4.00195V19.006Z" fill="var(--spinner)"></path></svg> <%= role.members.size %></a>
<% }) %>
<%- include("../includes/footer") %>
