<%- include("../includes/head", { bot, user, path, description, title: guild.name + " dashboard", twitter, url }) %>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/server.css" />
<% if (guild.icon) {
 iconurl = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}`;
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>
<% const checked = "home" %>
<%- include("../includes/side_nav", { bot, user, path, guild_name: guild.name, guild_icon: iconurl, checked_nav: checked, guild }) %>
<div class="content">
<% function checkdays(date) {
 let now = new Date();
 let diff = now.getTime() - date.getTime();
 let days = Math.floor(diff / 86400000);
 return days + (days == 1 ? " day" : " days") + " ago";
} %>
<img class="server-image img" src="<%= iconurl %>" alt="<%= guild.name %>"/>
<h1 class="server-name"><%= guild.name %></h1>
<p class="server-description"><%= guild.description %></p>
<hr>


<h2 style="text-align: center">Overview</h2>

<% if (alert) { %>
<div class="banner">
 <div class="banner-content">
  <div class="banner-text">
   <%= alert %>
  </div>
  <button class="banner-close" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
  </button>
  </div>
 </div>
 <script>
const close_banner = document.querySelector(".banner-close")
const banner = document.querySelector (".banner")
close_banner.addEventListener("click", function () {
  banner.style.display = "none";
});
</script>
<% }  %>

<div class="all">
<div class="otherinfo grid-2">
<form role="form" action="/dashboard/<%= guild.id %>/" method="POST">
<h2 style="margin-bottom: 0;">Nickname</h2>
<p>Change the bot's nickname in the current server</p>
<input id="nickname" name="nickname" type="text" required="true" placeholder="<%= bot.user.username %>" value="<%= guild.me.nickname || guild.me.user.username %>"/>
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<button type="submit" style="margin-left: 0;font-size: 14px;float: right" class="link-button blue">Save changes</button>
</form>
</div>


 <div class="boxes grid-1" style="width: 45%">
    <div class="box box1">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= guild.memberCount %>
      </h3>
      <p class="heading">Members</p>
     </div>
    </div>
    <div class="box box2">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= guild.channels.cache.size %>
      </h3>
      <p class="heading">Channels</p>
     </div>
    </div>
    <div class="box box3">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= guild.roles.cache.size %>
      </h3>
      <p class="heading">Roles</p>
     </div>
    </div>
    <div class="box box4">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= guild.premiumSubscriptionCount %> (<%= guild.premiumTier.toString().toLowerCase().replace("none", "0").replace("tier_", "") %> level)
      </h3>
      <p class="heading">Boosts</p>
     </div>
    </div>
         <% owner_str = guild_owner.user.username.toString() %>
<p class="server-members sinfo"><%- include('../includes/icons/members.ejs') %> Members: <%= guild.memberCount %>/<%= guild.maximumMembers %>
<p class="server-owner sinfo" title="ID: <%= guild.ownerId %>"><%- include('../includes/icons/owner.ejs') %> Owner: <%= owner_str.substring(0, 11) + (owner_str.length > 11 ? "..." : "") %>#<%= guild_owner.user.discriminator %></p>
<p class="server-time sinfo" title="<%= guild.createdAt.toUTCString().substr(0, 16)%>"><%- include('../includes/icons/date.ejs') %> Created: <%= checkdays(guild.createdAt) %></p>
<p class="region sinfo"><%- include('../includes/icons/location.ejs') %> Location: <%= guild.preferredLocale
 %></p>
</div>

</div>

<div class="servers stats">
<script src="https://code.highcharts.com/highcharts.js"></script>
<% const flow = total_joins - total_leaves %>
<h2 style="margin-bottom: 0;">Members flow</h2>
<h4 style="margin: 0;margin-bottom: 10px;padding-left: 2%;">In this month: <%= flow < 0 ? `${flow}` : `+${flow}` %> members</h4>
 <% if(joins && leaves) { %>
  <div style="display: flex;color: #fff;"><%- include('../includes/icons/group_add.ejs') %> Total joins: <span id="joins" style="padding-left: 5px"><%= total_joins %></span></div>
  <div style="display: flex;color: #fff;"><%- include('../includes/icons/group_remove.ejs') %>Total leaves: <span id="leaves" style="padding-left: 5px"><%= total_leaves %></span></div>
  <figure class="highcharts-figure">
  <div id="container">
   <p>No data! Wait a few days for the stats to show up here!</p>
   <p style="opacity: 0.5">All data is cleared on the first day of the month.</p> 
  </div>
</figure>
<style>
  .highcharts-legend-item text {
  fill: #b9bbbe !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  cursor: pointer !important;
  stroke-width: 0 !important;
  }
  .highcharts-axis-labels {
  fill: #b9bbbe !important;
  cursor: default !important;
  font-size: 12px !important;
}
  .highcharts-tooltip .highcharts-tooltip-box {
    fill: #0e0e17 !important;
  }
</style>
<script>
let joins_array = <%- JSON.stringify(joins) %>;
let leaves_array =  <%- JSON.stringify(leaves) %>;
joins_array.forEach(function(point) {
 point[0] = Date.parse(point[0])
});
leaves_array.forEach(function(point) {
 point[0] = Date.parse(point[0])
});

Highcharts.chart('container', {
 title: {
  text: null
 },
 tooltip: {
  crosshairs: [{
   width: 1.5,
   color: '#404752'
  }],
  shared: true,
  useHTML: false,
  valueDecimals: 0,
  borderRadius: 5,
  borderWidth: 0,
  shadow: false,
 },
 yAxis: {
  minTickInterval: 1,
  title: {
   text: 'Members'
  } 
 },
 xAxis: {
  type: 'datetime',
  dateTimeLabelFormats: {
   millisecond: '%b %e',
   second: '%b %e',
   minute: '%b %e',
   hour: '%b %e',
   day: '%b %e',
   week: '%b %e',
   month: '%b %e',
   year: '%b %e'
  }
 },
 legend: {
  layout: 'vertical',
  align: 'right',
  verticalAlign: 'middle'
 },
 series: [
  {
   name: 'Leaves',
   color: '#ea595b',
   marker: {
   symbol: 'circle',
   },
   data: leaves_array,
  },
  {
   name: 'Joins',
   color: '#57f288',
   marker: {
   symbol: 'circle',
   },
   data: joins_array,
  },
 ],
 responsive: {
  rules: [{
   condition: {
   maxWidth: 500
  },
  chartOptions: {
   legend: {
    layout: 'horizontal',
    align: 'center',
    verticalAlign: 'bottom'
   }
  }
 }]
}
});
</script>
 <% } else { %>
  <p>No data! Wait a few days for the stats to show up here!</p>
  <p style="opacity: 0.5">All data is cleared on the first day of the month.</p>
 <% } %>
</div>
<%- include("../includes/footer") %>