<%- include("includes/head", { bot, user, path, title: "Error: 500!" }) %>
<div class="content">
<h1 class="center error-icon">T^T</h1>
 <h1 class="center" style="margin-bottom: 0; font-weight: 500">Error 500!</h1>
 <h3 class="center">Internal server error - the server encountered unexpected problems that prevented the request from completing. Please try again later</h3>
<details>
 <summary style="text-align: center;color: rgba(255,0,0,0.8); margin-bottom: 10px;">Show error stack</summary>
 <p class="error"><span><%= error -%></span></p>
</details>
 <a class="add button center-button blue" href="<%= secure_connection %><%= domain %><%= port %>/">Go back to home!</a>
 <%- include("includes/footer") %>
</div>



