<%- include("includes/head", { bot, user, path, title: user.username + " profile" }) %>
<% const checked = "profile" %>
<%- include("includes/side_nav_other", { bot, user, path, checked_nav: checked }) %>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/user-profile.css">
<div class="content">
<% if (user.avatar) {
 iconurl = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}`
} else {
 iconurl = `${secure_connection + domain}/pics/invaild-avatar.png`;
}
%>

<% if(user.banner) { %>
<style>
.banner-container {
 background-image: url("https://cdn.discordapp.com/banners/<%= user.id %>/<%= user.banner %>?size=480");
 }
</style>
<% } else { %>
<style>
.banner-container {
 background-color: <%= user.banner_color %>;
</style>
<% } %>
  <style>
    .user-profile-image {
margin-top: -60px;
border: 7px solid var(--navbar);
box-shadow: unset;
    }
    .servers {
      align-content: center;
      align-items: center;
    }
    .user-name {
      margin-top: 0;
    }
    .servers {
      background-color: var(--navbar);
    }
    .banner-container {
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    </style>
<div class="servers stats">
<div class="banner-container"></div>
<img class="server-image img user-profile-image" src="<%= iconurl %>" alt="<%= user.username %>"/>
<h1 class="server-name user-name" style="font-weight: 500;font-family: &quot;Poppins&quot;;color: #fff;margin-bottom: 5px;"><%= user.username %><span class="tag">#<%= user.discriminator %></span></h1>
<p style="margin: 0; margin-bottom: 15px;">Joined: <span style="font-weight: 500;"><%= moment(fetched.createdTimestamp).format('LLL'); %></span> (<%= moment(fetched.createdTimestamp).fromNow() %>)</p>
<p class="sinfo"><%- include('includes/icons/tag.ejs') %> Tag: <%= user.username %>#<%= user.discriminator %></p>
<p class="sinfo"><%- include('includes/icons/fingerprint.ejs') %> ID: <%= user.id %></p>
<p class="sinfo"><%- include('includes/icons/server.ejs') %> Total guilds: <%= JSON.parse(JSON.stringify(user.guilds)).length %></p>

 <div class="buttons-container" style="width: 400px;">
<% if(user.banner) { %>
<a class="button button-one" href="https://cdn.discordapp.com/banners/<%= user.id %>/<%= user.banner %>?size=4096" download="true"><span class="reload-container"><%- include('includes/icons/download.ejs') %> Download Banner</span></a>
<% } else { %>
<a class="button disabled button-one" title="You don't have banner!"><span class="reload-container"><%- include('includes/icons/download.ejs') %> Download Banner</span></a>
<% } %>

<% if(user.avatar) { %>
<a class="button button-two" href="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>?size=2048" download="<%= user.id %>"><span class="reload-container"><%- include('includes/icons/download.ejs') %> Download Avatar</span></a>
<% } else { %>
<a class="button disabled button-two" title="You don't have avatar!"><span class="reload-container"><%- include('includes/icons/download.ejs') %> Download Avatar</span></a>
<% } %>
</div>
  <% if (config.support_server) { %>
 <div class="support-server-container">
  <h3 class="support-server-header">Hey <%= user.username%>!</h3>
  <p class="support-server-text">Join the Majo.exe server if you haven't already! <a href="/server">Join Now!</a></p>
 </div>
  <style>
.support-server-container {
 padding: 16px;
 margin: 8px;
 border-radius: 5px;
 background-color: rgba(88, 101, 242, 0.2);
 border: 1px solid RGBA(88, 101, 242, 0.4);
}

.support-server-header {
 color: #fff;
 margin-top: 0;
 margin-bottom: 8px;
 font-size: 18px;
 font-family: "Poppins";
}

.support-server-text {
 margin: 0;
 font-size: 14px;
 font-family: "Poppins";
 color: #aeaeae;
}

</style>
<% } %>
  </div>
<style>
.sinfo {
margin-bottom: 10px;
margin-top: 5px;
width: 400px;
}
</style>
<%- include("includes/footer") %>
</div>
