<%- include("includes/head", { bot, user, path, description, title: "Status" , twitter, url }) %>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/status.css">
<% if (user) { %>
<% const checked = "status" %>
<%- include("includes/side_nav_other", { bot, user, path, checked_nav: checked }) %>
<style>
 @media screen and (min-width: 950px) {
  .container {
   max-width: unset;
   margin: 0 auto;
   margin-top: 0px;
   margin-left: auto;
   margin-left: 270px;
   margin-top: 60px;
   transition: 300ms all;
  }
  .boxes {
   max-width: 800px;
  }
 }
</style>
<% } %>
<div class="container">
<% if (bot.user.avatar) { botavatar = `https://cdn.discordapp.com/avatars/${bot.user.id}/${bot.user.avatar}?size=256`; } else { botavatar = `${secure_connection + domain}/pics/invaild-avatar.png`; } %>
<h1 class="headerinfo" style="margin-bottom: 5px;">
<img class="img statusimg pulse" src="<%= botavatar %>" alt="Avatar" />
<a style="color: #fff" href="https://discord.com/users/<%= bot.user.id %>" target="_blank" rel="noopener"><%= bot.user.username.capitalize() %><span class="tag">#<%- bot.user.discriminator %></span></a>
</h1>
<% let status = bot.user.presence.status; %>
<style> 
:root {
<% if(status == "online") { %>
 --status-color: 59, 165, 93;
<% } else if(status == "idle") { %>
 --status-color: 250, 168, 26;
<% } else if(status == "dnd") { %>
 --status-color: 237, 66, 69;
<% } else { %>
 --status-color: 255, 255, 255;
<% } %>
}
@keyframes pulse {
 0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(var(--status-color), 0.7);
 }
 70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(var(--status-color), 0);
	}
 100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(var(--status-color), 0);
 }
}
     
 .statusimg {
  border: 3px solid;
  border-color: rgba(var(--status-color));
  display: block;
  animation: pulse 2s infinite;
  margin-bottom: 15px;
 }
</style>
<p class="uptime">Uptime: <span id="uptime">Fetching...</span> <span class="vr">|</span> Ping: <%= Math.floor(bot.ws.ping) %>ms</p>

<div class="legend-wrapper">
  <div class="legend bg-success">
    <span class="legend-marker"></span>Operational
  </div>
  <div class="legend bg-warning">
    <span class="legend-marker"></span>Partial Outage
  </div>
  <div class="legend bg-error">
    <span class="legend-marker"></span>Major Outage
  </div>
</div>
<% const timestamp = new Date().getTime() - Math.floor(bot.uptime); %>
<script type="text/javascript">
function format({time: time, element: element}) {
 let hours = Math.floor(time / 3600)
 let minutes = Math.floor(time / 60 % 60)
 let seconds = Math.floor(time % 60)
 let arr = [];
 arr.push(hours == 1 ? '1 hr' : hours + ' hrs');
 arr.push(minutes > 1 ? minutes + ' mins' : minutes + ' min');
 arr.push(seconds > 1 ? seconds + ' secs' : seconds + ' sec');
 element.innerHTML = arr.join(' ');
};
const start = <%= moment(timestamp).unix() %>;
var el = document.getElementById("uptime");
setInterval(function () {
 format({time: new Date().getTime() / 1000 - start, element: el});
}, 1000);
 </script>

<% if (config.status) { %>
 <% if (web_config.dashboard.status_page.no_embed) { %>
  </br>
  <a class="edit button status reload" href="<%= config.status %>"><span class="reload-container"><%- include('includes/icons/status.ejs') %>Check server's status</span></a>
 <% } else { %>
<iframe class="htframe" src="<%= web_config.dashboard.status_page.embed %>" width="100%" scrolling="no" style="border:none;" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
<script type="text/javascript" src="https://cdn.rawgit.com/davidjbradshaw/iframe-resizer/master/js/iframeResizer.min.js"></script>
<script>var iframes = iFrameResize([{log:false}],'.htframe');</script>
 <% } %>
 <br>
<% } %>
<%- include("includes/footer") %>