<%- include("includes/head", { bot, user, path, title: "404!" }) %>
<div class="content">
<h1 class="center error-icon">T^T</h1>
 <h1 class="center" style="margin-bottom: 0; font-weight: 500">Error 404!</h1>
 <h3 class="center">This page does not exist. If you think it is a mistake try again later!</h3>
<!-- Leave me alone.. Please -->
<p style="display: none; text-align: center">Cari.. I STILL LOVE YOU ❤️...<br>
I would do everything for you. I love you more than anything.<br>
Even though you made my heart hurt..<br>
I'm honest with you and I love you for that disgusting but beautiful too character.<br>
You're the most important person to me even though I'm telling you this for the millionth time.<br>
If you're reading this, know that I love you and that I would give my life for you..<br><br>
PS.. that emote at the bottom is your edit.... You pasted this to my code once... You did it when everything was good between us (well almost..).. Bye.. ~Majonez.exe</p>
 <a class="add button center-button blue" href="<%= secure_connection %><%= domain %><%= port %>/">Go back to home!</a>
  <span style="font-style: initial;opacity: 0.4;color: #fff;margin-top: 14px;" title="You may want inspecting element?">╭∩╮(♥ᴥ♥)╭∩╮</span>
<%- include("includes/footer") %>
