<%- include("partials/head", { bot, user, path, title: "Contact" }) %>

<link rel="stylesheet" type="text/css" href="https://<%= domain %>/css/contact.css" />
<% if (user) { %>
<script>
 var userID = <%= user.id %>
</script>
<% } %>
<div class="container-contact">
 <div class="wrap-contact">
  <form class="contact-form validate-form">
   <span class="contact-form-title"></span>
   <% if (user) { %>
   <div class="wrap-input rs1-wrap-input">
    <span class="label">Name</span>
    <input disabled class="input" maxlenght="100" autocomplete="off" spellcheck="false" type="text" name="name" placeholder="Name" value="<%= user.username %>#<%= user.discriminator %>" />
    <span class="input-line"></span>
   </div>
   <div class="wrap-input rs1-wrap-input">
    <span class="label">Email (optional)</span>
    <input class="input" type="email" maxlenght="100" autocomplete="off" spellcheck="false" name="email" placeholder="Email" />
    <span class="input-line"></span>
   </div>
   <div class="wrap-input">
    <span class="label">Message</span>
    <textarea class="input" name="message" maxlenght="2000" autocomplete="off" spellcheck="true" placeholder="Message" required></textarea>
    <span class="input-line"></span>
   </div>
   <% } else { %>
   <div class="wrap-input rs1-wrap-input noactive">
    <span class="label">Name</span>
    <input class="input" title="Please login to contact us!" maxlenght="100" autocomplete="off" spellcheck="false" type="text" name="name" placeholder="Name" disabled />
    <span class="input-line"></span>
   </div>
   <div class="wrap-input rs1-wrap-input noactive">
    <span class="label">Email (optional)</span>
    <input class="input" title="Please login to contact us!" maxlenght="100" autocomplete="off" spellcheck="false" type="email" name="email" placeholder="Email" disabled />
    <span class="input-line"></span>
   </div>
   <div class="wrap-input noactive">
    <span class="label">Message</span>
    <textarea class="input" title="Please login to contact us!" maxlenght="2000" autocomplete="off" spellcheck="true" name="message" placeholder="Message" disabled></textarea>
    <span class="input-line"></span>
   </div>

   <% } %> <% if (user) { %>
   <div id="captcha"></div>
   <script type="text/javascript">
    var verifyCallback = function (response) {
     console.log(response);
    };
    var onloadCallback = function () {
     grecaptcha.render("captcha", {
      sitekey: "<%= recaptcha %>",
      callback: verifyCallback,
      theme: "dark",
     });
    };
   </script>
   <% } %> <% if (user) { %>
   <div class="container-contact-form-btn">
    <button class="link-button green" style="margin-top: 50px; margin-left: 0px" type="submit">Send</button>
   </div>
   <% } else { %>
   <div class="container-contact-form-btn">
    <p>You must be logged in to contact us!</p>
   </div>
   <div class="container-contact-form-btn">
    <a href="https://<%= domain %>/login" style="margin-left: 0" class="link-button green">Login</a>
   </div>
   <% } %>
  </form>
 </div>
</div>

<% if (user) { %>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<% } %>

<script src="https://<%= domain %>/js/contact.js"></script>

<%- include("partials/footer") %>
