<%- include("includes/head", { bot, user, path, title: "Error!" }) %>
<div class="content">
<h1 class="center error-icon">T^T</h1>
 <h1 class="center" style="margin-bottom: 0">Unexpected Error!</h1>
 <h3 class="center">An error occurred while viewing this page!</h3>
<% if (!alert) { %>
 <p class="error"><span style="font-weight: bold">It is possible that the dashboard has not been connected to the server! You can do this by using <code>!majo connect-dashboard</code> command in your Discord server!</span></p>
  <% } else { %>
     <p class="error"><span style="font-weight: bold"><%= alert %></span></p>
  <% } %>
 <a class="add button center-button blue" href="<%= secure_connection %><%= domain %><%= port %>/">Go back to home page!</a>
 <%- include("includes/footer") %>
</div>
