<%- include("includes/head", { bot, user, path, description, title, twitter, url }) %>
<% if (bot.user.avatar) { botavatar = `https://cdn.discordapp.com/avatars/${bot.user.id}/${bot.user.avatar}.webp?size=256`; } else { botavatar = `${secure_connection + domain}/pics/invaild-avatar.png`; } %>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/home-page.css" />

<% if (user) { %>
  <% const checked = "home" %>
<%- include("includes/side_nav_other", { bot, user, path, checked_nav: checked }) %>
<style>
 @media screen and (min-width: 950px) {
  .content-container, .hero-section {
   width: unset !important;
   margin-left: 270px !important;
  }
  .hero-section {
   margin-top: 60px;
  }
  .hero-content {
   margin-top: -60px !important;
  }
  .content-container {
   padding: 0 40px !important;
  }
 }
</style>
<section class="hero-section">
 <div class="hero-grid">
  <div class="hero-content">
   <img class="img" src="<%= botavatar %>" alt="Avatar" />
   <p class="hero-title">Yay <span class="gradient-pink"><%= user.username %></span>!</p>
   <p class="hero-title2">You successfully connected your Discord account!</br>Go to your dashboard and me to your server!</p>
   <span class="reload-container" style="margin: 0 auto;max-width: 20px;">
   <a href="<%= secure_connection %><%= domain %><%= port %>/dashboard" class="link-button green reload"><span class="reload-container"><%- include('includes/icons/dashboard-main.ejs') %> Dashboard</span></a>
   </span>
  </div>
 </div>
</section>
<% } else { %>
<section class="brand_new_hero_section">
 <div class="brand_new_hero_grid">
  <img class="img brand_new_avatar" src="<%= botavatar %>" alt="Avatar" />
  <p class="brand_new_hero_small_title">Hi! I'm <%= bot.user.username.capitalize() %>! <span style="border-radius: 5px 10px; background-color: #5865F2; padding: 5px 10px 5px 10px; font-size: 9px; font-weight: 600; position: relative; top: -12px;">BETA</span></p>
  <p class="brand_new_header_line gradient-blue">The only one bot</p>
  <p class="brand_new_header_line">you will ever need!</p>
  <p class="brand_new_description">I have almost everything - Fun, Memes, Images, Giveaway, Moderation, Anime and NSFW! I serve over <%= bot.all_commands %> commands To get started with me just login with your Discord account</p>
  <span class="center-buttons">
   <a href="<%= secure_connection %><%= domain %><%= port %>/login" class="link-button green">Get Started</a>
   <a href="#features" class="link-button">Learn More</a>
  </span>
 </div>
</section>
<% } %>

<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %><%= port %>/css/cards.css" />
<div class="content-container">
<div class="stats">
<div class="stats_inner">
 <div class="stats_column">
  <h2 class="stats_column_title stats_hide_two"><%= bot.guilds.cache.reduce((a, g) => a + g.memberCount, 0) %><span class="text-white-fade">+</span> Users</h2>
 </div>
 <div class="stats_column">
  <h2 class="stats_column_title"><%= bot.all_commands %><span class="text-white-fade">+</span> Commands</h2>
 </div>
 <div class="stats_column">
  <h2 class="stats_column_title"><%= bot.guilds.cache.size %><span class="text-white-fade">+</span> Servers</h2>
 </div>
 <div class="stats_column stats_hide_first">
  <h2 class="stats_column_title"><%= bot.channels.cache.size %><span class="text-white-fade">+</span> Channels</h2>
 </div>
</div>
</div>
 <div id="features" class="product-row">
  <div class="product-image">
   <img src="<%= secure_connection %><%= domain %><%= port %>/pics/features/1.png" alt="Many commands!"/>
  </div>
  <div class="product-text">
   <h2 class="product-title">Many commands!</h2>
   <p><%= bot.user.username.split(" ")[0] %> has more <span class="line_underline">than <%= bot.all_commands %> commands</span>. From memes to moderation commands. Everything is clear and quick to use!</p>
  </div>
 </div>
 <div class="product-row">
  <div class="product-image">
   <img src="<%= secure_connection %><%= domain %><%= port %>/pics/features/1.png" alt="More reactions!"/>
  </div>
  <div class="product-text">
   <h2 class="product-title">More reactions!</h2>
   <p><%= bot.user.username.split(" ")[0] %> also allows you to send pictures for <span class="line_underline">any occasion</span>, you can fight a person and then hug them ^.^</p>
  </div>
 </div>
</div>
<div class="content-container">
  <img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg"/>
 <h2 class="more-header">Ready to <span class="grandient-blue">boost</span> your server?</h2>
 <p class="more-text">From auto-moderation to generating your own memes! <span class="line_underline">We'll take care of everything</span>.</br><%= bot.user.username.split(" ")[0] %> is the best choice to grow your Discord server!</p>
 <a href="<%= secure_connection %><%= domain %><%= port %>/invite %>" class="link-button blue center-button">Invite <%= bot.user.username.split(" ")[0] %> now!</a>
<img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg" style="transform: scaleX(-1);">
</div>
<%- include("includes/footer") %>
