<%- include("partials/head", { bot, user, path, description, title, twitter, url, image }) %>
<div class="page-content">
<div class="content">
<% if (bot.user.avatar) {
 botavatar = "https://cdn.discordapp.com/avatars/" + bot.user.id + "/" + bot.user.avatar + ".png?size=512";
} else {
 botavatar = "https://" + hostname + "/pics/invaild-avatar.png";
}
%>
<% if (user) { %>
<div class="div">
<img class="img" src="<%= botavatar %>" alt="Avatar"/>
<h1>Yay!</h1>
<p>You connected your Discord account! Go to your dashboard and me to your server!</p></div>

<a class="main-button button edit" href="https://<%= domain %>/dashboard">Go to Dashboard</a><br>
<a class="main-button button" href="https://<%= domain %>/features">See Features</a><br>
<% } else { %>
<div class="div">
<img class="img" src="<%= botavatar %>" alt="Avatar"/>
<h1>Hi! I'm Majo.exe</h1>
<p>I have almost everything - Fun, Memes, Images, Giveaway, Economy, Anime and NSFW!<br>I serve over 100 commands<br>To get started with me just login with your Discord account</p></div>
<a class="main-button button" href="https://<%= domain %>/login">Login</a><br>
<a class="main-button button edit" href="https://<%= domain %>/features">See Features</a><br>
<% } %>
</div>
<%- include("partials/footer") %>