<%- include("includes/head", { bot, user, path, description, title, twitter, url }) %>
<% function capitalize(string) { return string.charAt(0).toUpperCase() + string.slice(1); } %>
<% if (bot.user.avatar) { botavatar = `https://cdn.discordapp.com/avatars/${bot.user.id}/${bot.user.avatar}?size=256`; } else { botavatar = `${secure_connection + domain}/pics/invaild-avatar.png`; } %>
<section class="hero-section">
 <div class="hero-grid">
  <div class="hero-content">
   <img class="img" src="<%= botavatar %>" alt="Avatar" />
   <% if (user) { %>
   <p class="hero-title">Yay!</p>
   <p class="hero-title2">You connected your Discord account! Go to your dashboard and me to your server!</p>
   <a href="<%= secure_connection %><%= domain %>/dashboard" class="link-button green reload"><span class="reload-container"><%- include('includes/icons/dashboard-main.ejs') %> Dashboard</span></a>
   <% } else { %>
   <p class="hero-title">Hi! I'm <%= capitalize(bot.user.username) %></p>
   <p class="hero-title2">I have almost everything - Fun, Memes, Images, Giveaway, Economy, Anime and NSFW!<br />I serve over 100 commands<br />To get started with me just login with your Discord account</p>
   <a href="<%= secure_connection %><%= domain %>/login" class="link-button green">Login</a>
   <a href="#feautures" class="link-button">More</a>
   <% } %>
  </div>
 </div>
</section>
<link rel="stylesheet" type="text/css" href="<%= secure_connection %><%= domain %>/css/cards.css" />

<div class="content-container">
 <div id="feautures" class="product-row">
  <div class="product-image">
   <img src="<%= secure_connection %><%= domain %>/pics/feautures/1.webp" alt="Many commands!"/>
  </div>
  <div class="product-text">
   <h2 class="product-title">Many commands!</h2>
   <p><%= bot.user.username.split(" ")[0] %> has more than 150 commands. From memes to moderation commands. Everything is clear and quick to use!</p>
  </div>
 </div>
 <div class="product-row">
  <div class="product-image">
   <img src="<%= secure_connection %><%= domain %>/pics/feautures/2.webp" alt="More reactions!"/>
  </div>
  <div class="product-text">
   <h2 class="product-title">More reactions!</h2>
   <p><%= bot.user.username.split(" ")[0] %> also allows you to send pictures for any occasion, you can fight a person and then hug them ^.^</p>
  </div>
 </div>
</div>
<div class="content-container">
 <h2 class="more-header">Ready to boost your server?</h2>
 <p class="more-text"><%= bot.user.username.split(" ")[0] %> is the best discord bot to grow your Discord server!</p>
 <a href="<%= `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&permissions=1916267615&redirect_uri=${secure_connection + domain}%2Fdashboard&response_type=code&scope=guilds%20identify%20bot%20applications.commands` %>" class="link-button blue center-button">Invite <%= bot.user.username.split(" ")[0] %> now!</a>
</div>

<%- include("includes/footer") %>
