<%- include("includes/head", { bot, user, path, title: "Error!" }) %>
<div class="content">
<h1 class="center error-icon">T^T</h1>
 <h1 class="center" style="margin-bottom: 0">Rate Limit!</h1>
 <h3 class="center">You are viewing this page too fast! Please slow down!</h3>
   <p class="error"><span style="font-weight: bold">Just wait a moment and refresh this page</p>
 <a class="add button center-button blue" href="<%= secure_connection %><%= domain %><%= port %>/">Go to dashboard!</a>
 <%- include("includes/footer") %>
</div>
