<%- include("partials/head", { bot, user, path, description, title: "Server Dashboard", twitter, url, image }) %>
<div class="container">

<h1 class="headerinfo">Majo.exe in numbers</h1>

<div class="boxes">
<div class="box box1">
<div class="boxcontainter">
<h3 class="boxheader"><%= bot.guilds.cache.size %></h3>
<p class="heading">Guilds</p>
</div>                                   
</div>
<div class="box box2">
<div class="boxcontainter">
<h3 class="boxheader"><%= bot.channels.cache.size %></h3>
<p class="heading">Total Channels</p>
</div>
</div>
<div class="box box3">
<div class="boxcontainter">
<h3 class="boxheader"><%= bot.guilds.cache.reduce((a, g) => a + g.memberCount, 0) %></h3>
<p class="heading">Total members</p>
</div>
</div>
<div class="box box4">
<div class="boxcontainter">
<h3 class="boxheader" title="[!] This is Discord API ping, not actual bot ping"><%= Math.round(bot.ws.ping) %>ms</h3>
<p class="heading">Ping</p>
</div>
</div>
</div>
<a class="button reload" href="#" onclick="window.location.reload(true);"><span class="reload-container"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" style="margin-left: 0;margin-right: 5px;"><path d="M0 0h24v24H0z" fill="none"></path><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path></svg> Refresh</span></a>

<hr>

<h1 class="headerinfo">Majo.exe Uptime</h1>
<% totalSeconds = (bot.uptime / 1000);
days = Math.floor(totalSeconds / 86400);
totalSeconds %= 86400;
hours = Math.floor(totalSeconds / 3600);
totalSeconds %= 3600;
minutes = Math.floor(totalSeconds / 60) 
seconds = Math.floor(totalSeconds % 60); %>

<p class="uptime"><%= days %> Days, <%= hours %> hours, <%= minutes %> minutes, <%= seconds %> seconds</p>

<% if (config.status) { %>
<hr>
<h1 class="headerinfo">Downtime monitor</h1>
<a class="edit button status" href="<%= config.status %>">Check server's status</a>
<% } %>
<style>
.boxes {
display: grid;
font-family: Roboto-Thin;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 20px;
position: relative;
margin-left: 20px;
margin-right: 20px;
}

.box {
background-position-x: 0%, 0%;
background-position-y: 0%, 0%;
background-size: auto, auto;
background-position: center;
background-size: 100%;
height: 100px;
box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
position: relative;
border-radius: 4px;
color: white;
transition: 250ms;
}

.box:hover {
transform: scale(1.05);
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.box1 {
background: url("./svg/cards/1.svg"), linear-gradient(150deg, #5A57C9, #44409A);
background-position: center;
background-size: 100%;
}

.box2 {
background: url("./svg/cards/2.svg"), linear-gradient(150deg, #FFD3A5a5, #FD6F88a5);
background-position: center;
background-size: 100%;
}

.box3 {
background: url("./svg/cards/3.svg"), linear-gradient(150deg, #ABDCFFa5, #1BA0FFa5);
background-position: center;
background-size: 100%;
}

.box4 {
background: url("./svg/cards/4.svg"), linear-gradient(150deg, #48435A, #39384A);
background-position: center;
background-size: 100%;
}

.boxcontainter {
position: absolute;
padding: 0 0 0 10px;
color: var(--text);
}

.boxcontainter h3.boxheader {
font-size: 35px;
margin-top: 10px;
margin-bottom: 0;
}

.boxcontainter .heading {
font-size: 17px;
font-weight: 500;
}

.container {
max-width: 800px;
padding: 20px 0px;
margin: auto;
margin-top: 60px;
}

.headerinfo {
text-align: center;
}

.uptime {
font-size: 25px;
text-align: center;
}

.reload {
display: flex;
align-items: center;
max-width: 150px;
margin: auto;
margin-top: 25px;
padding: 6px 25px;
}

.reload-container {
line-height: 100%;
display: flex;
align-items: center;
}

.status {
max-width: 200px;
margin: auto;
}
</style>

<%- include("partials/footer") %>
